@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 190 67% 93%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 71% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 50% 85%;
    --secondary-foreground: 224 71% 4%;
    --muted: 190 50% 85%;
    --muted-foreground: 224 71% 25%;
    --accent: 33 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 190 30% 75%;
    --input: 190 30% 85%;
    --ring: 197 71% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 200 25% 10%;
    --foreground: 210 20% 98%;
    --card: 200 25% 15%;
    --card-foreground: 210 20% 98%;
    --popover: 200 25% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 197 71% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 25% 20%;
    --secondary-foreground: 210 20% 98%;
    --muted: 200 25% 20%;
    --muted-foreground: 210 20% 60%;
    --accent: 33 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 25% 25%;
    --input: 200 25% 25%;
    --ring: 197 71% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}
